<div class="row">
  <div class="small-12 columns">
    <h1><a href="<%= settings.homepage %>"><%= settings.site_name %></a> <small>Thank you for your donation!</small></h1>
  </div>
</div>

<div class="row">
  <div class="small-7 columns small-centered">
    <div class="radius panel">
      <%= erb :mailchimp %>
    </div>
  </div>
</div>
